<app-toolbar [caption]="caption">
</app-toolbar>

<app-hero></app-hero>

<div class="ed-container ed-soft" style="padding-top: 30px;">
  <div style="margin-bottom: 30px;">
    <div class="ed-columns">
      <div class="ed-col-md-4 ed-px-1">
        <h2 class="ed-title">Left</h2>
        <div class="ed-spacey">
          <p>
            This is the left box of the landing page.
          </p>
          <p>
            Usually this is where you'd put some cheesy, corporate-y verbs, like 'Synchronize' or 'Communicate' or
            'Collaborate'.
          </p>
        </div>
      </div>
      <div class="ed-col-md-4 ed-px-1">
        <h2 class="ed-title">Middle</h2>
        <div class="ed-spacey">
          <p>
            This is the middle box of the landing page.
          </p>
          <p>
            Usually this is where you'd put some cheesy, corporate-y verbs, like 'Synchronize' or 'Communicate' or
            'Collaborate'.
          </p>
        </div>
      </div>
      <div class="ed-col-md-4 ed-px-1">
        <h2 class="ed-title">Right</h2>
        <div class="ed-spacey">
          <p>
            This is the right box of the landing page.
          </p>
          <p>
            Usually this is where you'd put some cheesy, corporate-y verbs, like 'Synchronize' or 'Communicate' or
            'Collaborate'.
          </p>
        </div>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div style="margin: 30px 0 30px 0">
    <div class="ed-columns">
      <div class="ed-col-lg-6 ed-align-center ed-display-none-md">
        <img style="max-width: 100%; height: auto;"
          src="https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80">
      </div>
      <div class="ed-col-lg-6 ed-px-1">
        <h2 class="ed-title">Middle Section</h2>
        <div class="ed-spacey">
          <p>
            This section can be used to go into more detail on something interesting. Hopefully it's related to your
            image. It is not related to the image in this case.
          </p>
          <p>
            I am adding another sentence to take up space.
          </p>
          <p>
            You can add a CTA here to lure the user in. This one does nothing.
          </p>
        </div>
        <div class="ed-align-center">
          <div>
            <a class="ed-primary" mat-button>Tell me more!</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div style="margin: 30px 0 30px 0">
    <div class="ed-columns" style="flex-direction: row-reverse;">
      <div class="ed-col-lg-6 ed-align-center ed-display-none-md">
        <img style="max-width: 100%; height: auto;"
          src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80">
      </div>
      <div class="ed-col-lg-6 ed-px-1">
        <h2 class="ed-title">Bottom Section</h2>
        <div class="ed-spacey">
          <p>
            This section can be used to go into more detail on something interesting. Hopefully it's related to your
            image. It is not related to the image in this case.
          </p>
          <p>
            I am adding another sentence to take up space.
          </p>
          <p>
            You can add a CTA here to lure the user in. This one does nothing.
          </p>
        </div>
        <div class="ed-align-center">
          <div>
            <a class="ed-primary" mat-button>Tell me more!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<router-outlet></router-outlet>
