<app-toolbar [caption]="caption">
</app-toolbar>

<div id="content">
  <app-hero></app-hero>

  <div class="padded">
    <mat-card>
      <mat-card-title>What great content!</mat-card-title>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porttitor libero felis, in porta purus
          placerat
          ut. Nullam fringilla eu velit non ultricies. Fusce sed dictum justo. Pellentesque porttitor nisl ut enim
          tincidunt
          sodales. Donec vel ante nec massa condimentum tincidunt a vitae urna. Nullam pretium posuere risus, et
          facilisis
          dolor. Vivamus pretium eros non porttitor viverra. Cras non euismod nibh. Nunc mi felis, aliquam ut accumsan
          vel,
          varius eget urna. Cras eget tincidunt neque. Nulla ullamcorper diam nulla, vel tristique turpis efficitur non.
          Sed
          in ligula ultrices, suscipit massa sed, euismod justo. Quisque eu suscipit ex, nec eleifend ligula. Curabitur
          dapibus semper interdum.
        </p>
        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec in lobortis
          felis.
          Nunc quis maximus lectus. Nam sodales tellus sed ligula condimentum, vel lobortis nisl iaculis. Vestibulum ac
          orci
          vehicula, ultrices diam at, lacinia diam. Nulla aliquet augue sit amet porta vestibulum. Vivamus est lectus,
          volutpat eu facilisis ac, ultrices non metus. Fusce varius dui vitae sodales semper. Nulla facilisi. Morbi non
          massa
          scelerisque, hendrerit ipsum non, iaculis elit.
        </p>
        <p>
          Nunc eget justo efficitur, faucibus dui eget, viverra lectus. Aliquam a ligula dictum, dapibus est sit amet,
          sodales
          ipsum. Pellentesque auctor ligula non enim maximus pulvinar. Fusce dapibus orci ac elit ornare, vitae
          ullamcorper
          eros rutrum. Fusce venenatis urna eu purus faucibus congue. Praesent malesuada sed magna in vulputate. Sed
          ipsum
          turpis, luctus consequat risus sit amet, gravida lobortis neque. Quisque tincidunt leo tellus, eget
          ullamcorper
          tellus pulvinar in. Morbi dictum lorem vitae fringilla vulputate. Nam molestie nulla sed pulvinar iaculis.
        </p>
        <p>
          Curabitur euismod molestie fringilla. Morbi pellentesque cursus urna at vestibulum. Maecenas pretium viverra
          ipsum,
          a malesuada elit iaculis quis. Suspendisse vehicula ipsum et nisl accumsan vehicula. Aliquam tincidunt, tellus
          tempus mollis laoreet, erat quam blandit erat, eu aliquet enim risus vitae ante. Nulla facilisi. Mauris est
          tortor,
          efficitur eu sapien ut, ultrices auctor est. Nullam est velit, tempus non metus eu, dictum bibendum turpis.
          Curabitur eu velit porta, facilisis lectus sed, finibus libero.
        </p>
        <p>
          Cras rhoncus sem quis neque laoreet lacinia. Maecenas nec justo mauris. Mauris fermentum consequat turpis, non
          luctus augue suscipit quis. Mauris convallis metus sit amet rhoncus blandit. Vivamus imperdiet consequat
          aliquet.
          Donec fermentum arcu nulla, eget faucibus ligula luctus in. Aliquam id varius justo. Integer et erat ac leo
          vulputate vestibulum non vitae felis. Fusce eu viverra purus. Vivamus augue lectus, sollicitudin eu ex ac,
          molestie
          interdum ex.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- <app-footer></app-footer> -->

<router-outlet></router-outlet>
