<footer>
  <div class="ed-container">
    <div class="ed-columns">
      <div class="ed-col-md-6">
      </div>
      <div class="ed-col-md-6">
      </div>
    </div>
  </div>
  <div class="attribution ed-columns">
    <div class="ed-col-12 ed-pb-2" style="text-align: center; justify-self: center;">
      <a href="https://www.mongodb.com/" target="_blank" referrerpolicy="no-referrer">MongoDB</a>
      <span class="vl ed-mx-2"></span><wbr>
      <a href="https://angular.io/" target="_blank" referrerpolicy="no-referrer">Angular</a>
      <span class="vl ed-mx-2"></span><wbr>
      <a href="https://expressjs.com/" target="_blank" referrerpolicy="no-referrer">Express</a>
      <span class="vl ed-mx-2"></span><wbr>
      <a href="https://nodejs.org" target="_blank" referrerpolicy="no-referrer">Node</a>
      <span class="vl ed-mx-2"></span><wbr>
      <a href="https://heroku.com" target="_blank" referrerpolicy="no-referrer">Heroku</a>
      <span class="vl ed-mx-2"></span><wbr>
      <a href="https://material.angular.io/" target="_blank" referrerpolicy="no-referrer">Angular Material</a>
      <span class="vl ed-mx-2"></span><wbr>
      <a href="https://bulma.io/" target="_blank" referrerpolicy="no-referrer">Bulma</a>
      <span class="vl ed-mx-2"></span><wbr>
      <a href="https://fontawesome.com/" target="_blank" referrerpolicy="no-referrer">Font Awesome</a>
    </div>
  </div>
</footer>
