<mat-list class="narrow" dense>
  <mat-list-item>
    <a href="https://www.mongodb.com/" target="_blank" referrerpolicy="no-refferrer">MongoDB</a>
  </mat-list-item>
  <mat-list-item>
    <a href="https://angular.io/" target="_blank" referrerpolicy="no-refferrer">Angular</a>
  </mat-list-item>
  <mat-list-item>
    <a href="https://expressjs.com/" target="_blank" referrerpolicy="no-refferrer">Express</a>
  </mat-list-item>
  <mat-list-item>
    <a href="https://nodejs.org" target="_blank" referrerpolicy="no-refferrer">Node</a>
  </mat-list-item>
  <mat-list-item>
    <a href="https://heroku.com" target="_blank" referrerpolicy="no-refferrer">Heroku</a>
  </mat-list-item>
  <mat-list-item>
    <a href="https://material.angular.io/" target="_blank" referrerpolicy="no-refferrer">Angular Material</a>
  </mat-list-item>
</mat-list>
